@import "tailwindcss";
@config "../tailwind.config.ts";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* Animations */
@keyframes delayZOffEffect {
  from {
    z-index: 10;
  }
  to {
    z-index: -10;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
body::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px transparent;
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  margin-left: 0.25rem;
  cursor: grab;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:active,
.thin-scrollbar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
